<% layout('layout') %>
<div class="admin-dashboard">
  <div class="stats-cards">
    <div class="card">Total Bookings: <%= totalBookings %></div>
    <div class="card">Total Movies: <%= totalMovies %></div>
    <div class="card">Total Users: <%= totalUsers %></div>
  </div>
</div>
